{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="">Search results for: {{ query }}</h4>
    </div>
    {% for m in movies.get('results') %}
    <div class="col-md-3">
      <div class="card m-1">
        <a href="{{ url_for('movie_detail', movie_id=m.id) }}">
          <img src="https://image.tmdb.org/t/p/w1280/{{ m.poster_path }}" class="card-img-top" alt="poster"
        /></a>
        <div class="card-body">
          <h5 class="card-title">{{ m.title }}</h5>
          <p class="card-text">
            {{ m.overview }}
            <!-- {{ m | tojson }}-->
          </p>
          <a href="{{ url_for('movie_detail', movie_id=m.id) }}" class="btn btn-outline-primary btn-block">More Info</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
